@font-face {
    font-family: font;
    font-style: normal;
    src: url('../fonts/font.otf') format('opentype')
}

@font-face {
    font-family: fonti;
    font-style: normal;
    src: url('../fonts/fonti.otf') format('opentype');
}